body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    flex-direction: column;
}

#container{
    display: flex;
    background-color: white;
    height: 500px;
    width: 500px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    flex-wrap: wrap;
}